<html>
    <head>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <style>
            body{
                font-family: monospace;
            }
            #registry{
                margin:50px 0px;
            }
            #registry li{
                display:inline-block;
                font-size: 3em;
                text-align: center;
                width: 100px;
            }
            #program{
                margin:30px 0px;
                text-align: center;
            }
            #program li{
                display:inline-block;
                font-size: 1em;
                width:30px;
                text-align: center;
/*                height:100px;*/
/*                background-color:yellow;*/
/*                margin:2px;*/
            }
            #input{
/*                color:darkorange;*/
                background-color:aqua;
                display:inline-block;
                padding:20px;
                border:2px solid black;
                margin: 20px auto;
            }
            input{
                min-width:100px;
                background-color:white;
                border:2px solid black;
                height:40px;
                font-family: monospace;
                font-size:1em;
                padding:0px 10px;
            }
            .register{
/*                border-left:1px solid black;*/
            }
            .pointer{
                height:4px;
                width:100%;
                background-color:black;
            }
            .marker-holder{
                height:20px;
                display:block;
                padding:6px
            }
            .marker{
                width:6px;
                height:6px;
                background-color:black;
                text-align: center;
                margin: 0px auto;
            }
            button{
                min-width:100px;
                background-color:white;
                border:2px solid black;
                height:40px;
                font-family: monospace;
                font-size:1em;
                margin:5px 0px 5px 20px;
            }
            #submit-button{
                margin-left:0px;
            }
            ol{
                margin:0px;
                padding:0px;
            }
            #content{
                border:3px solid black;
                margin:50px;
                padding:50px;
                text-align: center;
            }
            h1{
                margin:0;
                padding:0;
            }
            #output{
                background-color:whitesmoke;
                font-size:2em;
                min-height:30px;
                padding:20px;
                display:block;
                min-width:500px;
                display:inline-block;
                margin:30px;
            }
            #edit{
                margin:30px 0px 0px 0px;
                min-width:1000px;
                min-height:100px;
                padding:20px;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <div id="content">
                <h1>Enemy Language</h1>
                <ol id="registry">
                    <li v-for="(register, index) in registers">
                        <div class="register">{{register}}</div>
                        <div v-if="showUnderline(index+1)" class="pointer"></div>
                    </li>    
                </ol>
                <ol v-if="readableCode" id="program">
                    <li v-for="(command, index) in program">
                        <div>{{shorthand[index]}}</div>
                        <div>{{legible[index]}}</div>
                        <div>{{proper[index]}}</div>
                        <div class="marker-holder">
                            <div v-if="currentCommandIndex==index" class="marker"></div>
                        </div>
                    </li>    
                </ol>
                <button v-on:click="runProgram">Run</button>
                <button v-on:click="pauseProgram">Pause</button>
                <button v-on:click="reset">Reset</button>
                <button v-if="!readableCode" v-on:click="readableCode=true">Reveal</button>
                <button v-if="readableCode" v-on:click="readableCode=false">Hide</button>
                <div id="input-holder">
                    <div v-if="status=='input'" id="input">Provide input:
                        <input id="input-box" v-model="inputValue" />
                        <button id="submit-button" v-on:click="submitInput">Submit</button>
                    </div>
                </div>
                <div id="edit-holder">
                    <textarea v-model="edit" id="edit"></textarea>
                </div>
                <div id="output-holder">
                    <div id="output">{{outputFormatted}}</div>
                </div>
<!--                    <div>Parsed input: {{editParsed}}</div>-->
    <!--            <div>Registers: {{registers}}</div>-->
    <!--            <div>Program: {{program}}</div>-->
    <!--            <div>Commands: {{commands}}</div>-->
    <!--            <div>Shorthand: {{shorthand}}</div>-->
    <!--            <div>Legible: {{legible}}</div>-->
    <!--            <div>Proper: {{proper}}</div>-->
    <!--            <div>Pointer Range: {{pointerRange}}</div>-->
    <!--            <div>Pointer A: {{pointerA}}</div>-->
    <!--            <div>Pointer A Value: {{pointerAValue}}</div>-->
    <!--            <div>Pointer B: {{pointerB}}</div>-->
    <!--            <div>Pointer B Value: {{pointerBValue}}</div>-->
    <!--            <div>Pointers Are Equal?: {{pointersAreEqual}}</div>-->
<!--                <div>Current Command Index: {{currentCommandIndex}}</div>-->
<!--                <div>Current Command: {{currentCommand}}</div>-->
    <!--            <div>Registry Length: {{registryLength}}</div>-->
    <!--            <div>Program Length: {{programLength}}</div>-->
    <!--            <div>Open Commands: {{openCommands}}</div>-->
    <!--            <div>Close Commands: {{closeCommands}}</div>-->
    <!--            <div>Open Close Match?: {{openCloseMatch}}</div>-->
    <!--            <div>Open Close Pairs: {{openClosePairs}}</div>-->
    <!--            <div>Input Value: {{inputValue}}</div>-->
<!--                <div>Status: {{status}}</div>-->
    <!--
                <div>Execute a command:
                    <button v-on:click="LL">LL</button>
                    <button v-on:click="LR">LR</button>
                    <button v-on:click="RL">RL</button>
                    <button v-on:click="RR">RR</button>
                    <button v-on:click="OP">OP</button>
                    <button v-on:click="CL">CL</button>
                    <button v-on:click="GV">GV</button>
                    <button v-on:click="TK">TK</button>
                </div>
    --> 
<!--                <div>Output: {{output}}</div>-->
            </div>
        </div>
        <script>
            
            var app = new Vue({
                el:"#app",
                data:{
                    registers:[1,1,1,1,1,1,1,1,1],
                    defaultProgram: "edit",
                    programs:{
                        fibonacci: ["RL", "GV", "GV", "RR", "GV", "OP", "RL", "GV", "RR", "OP", "RR", "RR", "LR", "GV", "LL", "RL", "RL", "CL", "RR", "GV", "LR", "OP", "RR", "LR", "GV", "LL", "RL", "CL", "LL", "RL", "CL"],
                        addition:["RL","TK","LR","TK","LL","GV","RL","GV"],
                        multiplication:["LR", "TK", "LR", "TK", "LR", "LL", "LL", "LL", "TK", "RR", "LR", "LR", "LR", "TK", "LL", "RL", "OP", "LL", "LL", "RL", "RL", "GV", "LR", "LR", "RR", "RR", "TK", "RL", "CL", "RL", "RL", "RL", "GV"]
                    },
                    pointerA:1,
                    pointerB:2,
                    currentCommandIndex:-1,
                    delay:100,
                    output: [],
                    status:"loading",
                    max:999,
                    min:-999,
                    inputValue:null,
                    edit:"",
                    readableCode:false,
                    default:{
                        registers:[1,1,1,1,1,1,1,1,1],
                        pointerA:1,
                        pointerB:2,
                        status:"stop",
                        output:[],
                        currentCommandIndex:-1
                    }
                },
                watch:{
                    status: function(){
                        if(app.status == "go"){
                            this.nextStep();
                        }
                    },
//                    editParsed: function(){
//                        this.program = this.editParsed.slice();
//                    }
                },
                methods:{
                    reset: function(){
                        this.currentCommandIndex = this.default.currentCommandIndex;
                        this.registers = this.default.registers.slice();
                        this.pointerA = this.default.pointerA;
                        this.pointerB = this.default.pointerB;
                        this.status = this.default.status;
                        this.output = this.default.output.slice();
                    },
                    withinRange: function(value){
                        if(value >= this.max){
                            return false
                        }  
                        else if(value <= this.min){
                            return false
                        }
                        else{
                            return true
                        }
                    },
                    updateRegister: function(index, value){
                        this.registers.splice(index, 1, value)
                    },
                    runProgram: function(){
                        this.reset();
                        this.status = "go"
                    },
                    pauseProgram: function(){
                        this.status = "pause"
                    },
                    getInput: function(){
                        this.status = "input"
                        $("#input-box").focus();
                    },
                    submitInput: function(){
                        var index = (this.pointerA - 1)
                        var newValue = Number(this.inputValue)
                        if(newValue != NaN){
                            this.inputValue = "";
                            this.updateRegister(index, newValue);
                            this.status = "go";
                        }
                    },
                    nextStep: function(){
                        switch(this.currentCommand){
                            case "LL":
                                this.LL();
                                break;
                            case "LR":
                                this.LR();
                                break;
                            case "RL":
                                this.RL();
                                break;
                            case "RR":
                                this.RR();
                                break;
                            case "OP":
                                this.OP();
                                break;
                            case "CL":
                                this.CL();
                                break;
                            case "GV":
                                this.GV();
                                break;
                            case "TK":
                                this.TK();
                                break;                                    
                        }
                        this.currentCommandIndex++;
                        if(this.status != "input"){
                            this.status="delay";
                            setTimeout(this.proceed,this.delay);
                        }
                    },
                    proceed: function(){
                        if(this.currentCommandIndex >= this.programLength){
                            this.status="done"
                        }
                        else if(this.status == "delay"){
                            this.status = "go"
                        }
                    },
                    showUnderline: function(index){
                        if (this.pointerRange.indexOf(index) != -1){
                            return true;
                        }
                        else{
                            return false;
                        }
                    },
                    LL: function(){
                        if(this.pointerA <= 1){
                            this.pointerA = 1
                        }
                        else{
                            this.pointerA--
                        }
                    },
                    LR: function(){
                        if(this.pointerA >= this.registryLength){
                            this.pointerA = this.registryLength;
                        }
                        else{
                            if(this.pointerA == this.pointerB){
                                this.pointerB++
                            }
                            this.pointerA++
                        }
                    },
                    RL: function(){
                        if(this.pointerB <= 1){
                            this.pointerB = 1;
                        }
                        else{
                            if(this.pointerA == this.pointerB){
                                this.pointerA--
                            }
                            this.pointerB--
                        } 
                    },
                    RR: function(){
                        if(this.pointerB >= this.registryLength){
                            this.pointerB = this.registryLength
                        }
                        else{
                            this.pointerB++
                        }                  
                    },
                    OP: function(){
                        var matchingClose = this.openClosePairs.open[this.currentCommandIndex];
                        var jumpTo = matchingClose + 1
                        if(this.pointersAreEqual){
                            this.currentCommandIndex = jumpTo
                        }
                        else if(this.pointerAValue == this.pointerBValue){
                            this.currentCommandIndex = jumpTo
                        }
                    },
                    CL: function(){
                        var matchingOpen = this.openClosePairs.close[this.currentCommandIndex];
                        var jumpTo = matchingOpen - 1
                        if(this.pointerAValue != this.pointerBValue){
                            this.currentCommandIndex = jumpTo
                        }
                    },
                    GV: function(){
                        if(this.pointersAreEqual){
                            this.output.push(this.pointerBValue);
                            this.output.push("  ");
                        }
                        else{
                            var index = (this.pointerA - 1);
                            var newValue = this.pointerAValue + this.pointerBValue;
                            if(newValue <= this.min){
                                this.updateRegister(index, this.min);
                            }
                            else if(newValue >= this.max){
                                this.updateRegister(index, this.max)
                            }
                            else{
                                this.updateRegister(index, newValue);
                            }
                        }
                    },
                    TK: function(){
                        if(this.pointersAreEqual){
                            this.getInput();
                        }
                        else{
                            var index = (this.pointerA - 1);
                            var newValue = this.pointerAValue - this.pointerBValue;
                            if(newValue <= this.min){
                                this.updateRegister(index, this.min);
                            }
                            else if(newValue >= this.max){
                                this.updateRegister(index, this.max)
                            }
                            else{
                                this.updateRegister(index, newValue);
                            }
                        }
                    }
                },
                computed:{
                    program: function(){
                        if(this.defaultProgram == "edit"){
                            if(this.editParsed){
                                return this.editParsed.slice();
                            }
                            else{
                                return null;
                            }
                        }
                        else{
                            return this.programs[this.defaultProgram];
                        }
                    },
                    editParsed: function(){
                        var info = [];
//                        info = this.edit.match(/.{1,3}/g);
                        info = this.edit.match(/.{3}/g);
                        if(info){
                            info.forEach(function(item, index){
                                if (item == "——–") info[index] = "LL";
                                if (item == "–——") info[index] = "LR";
                                if (item == "—––") info[index] = "RL";
                                if (item == "––—") info[index] = "RR";
                                if (item == "—–—") info[index] = "OP";
                                if (item == "–—–") info[index] = "CL";
                                if (item == "———") info[index] = "GV";
                                if (item == "–––") info[index] = "TK";                            
                            });
                        }
                        return info;
                    },
                    outputFormatted: function(){
                        return this.output.join("");  
                    },
                    openCloseMatches: function(){
                        var info = this.program.slice();
                        var matches = [];
                        info.forEach(function(item, index){
                            if(item == "OP"){
                                var openIndex = index;
                                var depth = 0
                                var matchFound = false
                                info.forEach(function(subitem, subindex){
                                    if(matchFound == false && subindex > openIndex){
                                        if(subitem == "CL" && depth == 0){
                                            var closeIndex = subindex
                                            matches.push([openIndex,closeIndex])
                                            matchFound = true;
                                        }
                                        else if(subitem == "CL"){
                                            depth = depth - 1
                                        }
                                        else if(subitem == "OP"){
                                            depth = depth + 1
                                        }
                                    }
                                })
                            }
                        })
                        return matches;
                    },
                    openCommands: function(){
                        var program = this.program.slice();
                        var locations = [];
                        program.forEach(function(item, index){
                            if (item == "OP"){
                                locations.push(index);
                            };                      
                        });
                        return locations;
                    },
                    openCount: function(){
                        return this.openCommands.length;
                    },
                    closeCommands: function(){
                        var program = this.program.slice();
                        var locations = [];
                        program.forEach(function(item, index){
                            if (item == "CL"){
                                locations.push(index);
                            };                      
                        });
                        return locations;
                    },
                    closeCount: function(){
                        return this.closeCommands.length;
                    },
                    openCloseMatch: function(){
                        if(this.openCount == this.closeCount){
                            return true;
                        }
                        else{
                            return false;
                        }
                    },
                    openCloseCount: function(){
                        if(this.openCount > this.closeCount){
                            return this.openCount
                        }
                        else{
                            return this.closeCount
                        }
                    },
                    openClosePairs: function(){
                        var openInfo = {};
                        var closeInfo = {};
//                        var index = 0
                        var openCloseMatches = this.openCloseMatches.slice();
//                        var closeCommands = this.closeCommands.slice();
                        var openCount = this.openCount
//                        console.log(openCommands);
                        openCloseMatches.forEach(function(item, index){
                            openInfo[openCloseMatches[index][0]] = openCloseMatches[index][1];
                            closeInfo[openCloseMatches[index][1]] = openCloseMatches[index][0];
                        });
                        return {
                            open: openInfo,
                            close: closeInfo
                        };
                    },
                    pointersAreEqual: function(){
                        if(this.pointerA == this.pointerB){
                            return true
                        }
                        else{
                            return false
                        }
                    },
                    pointerAValue: function(){
                        return this.registers[(this.pointerA - 1)]  
                    },
                    pointerBValue: function(){
                        return this.registers[(this.pointerB - 1)]
                    },
                    registryLength: function(){
                        var info = this.registers.slice();
                        return info.length;  
                    },
                    programLength: function(){
                        var info = this.program.slice();
                        return info.length;
                    },
                    currentCommand: function(){
                        return this.program[this.currentCommandIndex];
                    },
                    pointerRange: function(){
                        var info = []
                        var pointerA = this.pointerA
                        var pointerB = this.pointerB
                        while(pointerA <= pointerB){
                            info.push(pointerA++);
                        }  
                        return info;
                    },
                    commands: function(){
                        var info = this.program.slice();
                        info.forEach(function(item, index){
                            if (item == "LL") info[index] = "Left-left";
                            if (item == "LR") info[index] = "Left-right";
                            if (item == "RL") info[index] = "Right-left";
                            if (item == "RR") info[index] = "Right-right";
                            if (item == "OP") info[index] = "Open";
                            if (item == "CL") info[index] = "Close";
                            if (item == "GV") info[index] = "Give";
                            if (item == "TK") info[index] = "Take";                            
                        });
                        info = info.join(" ")
                        return info;
                    },
                    shorthand: function(){
                        var info = this.program.slice();
//                        info = info.join(" ");
                        return info;
                    },
                    legible: function(){
                        var info = this.program.slice();
                        info.forEach(function(item, index){
                            if (item == "LL") info[index] = "mmn";
                            if (item == "LR") info[index] = "nmm";
                            if (item == "RL") info[index] = "mnn";
                            if (item == "RR") info[index] = "nnm";
                            if (item == "OP") info[index] = "mnm";
                            if (item == "CL") info[index] = "nmn";
                            if (item == "GV") info[index] = "mmm";
                            if (item == "TK") info[index] = "nnn";                            
                        });
//                        info = info.join(" ")
                        return info
                    },
                    proper: function(){
                        var info = this.program.slice();
                        info.forEach(function(item, index){
                            if (item == "LL") info[index] = "——–";
                            if (item == "LR") info[index] = "–——";
                            if (item == "RL") info[index] = "—––";
                            if (item == "RR") info[index] = "––—";
                            if (item == "OP") info[index] = "—–—";
                            if (item == "CL") info[index] = "–—–";
                            if (item == "GV") info[index] = "———";
                            if (item == "TK") info[index] = "–––";                            
                        });
//                        info = info.join("")
                        return info;
                    },
                    properOutput: function(){
                        var info = this.proper.slice();
                        return info.join("");
                    }
                }
            })
//            app.runProgram();
        </script>
    </body>
</html>




<!--
async function demo() {
  console.log('Taking a break...');
  await sleep(2000);
  console.log('Two second later');
}

demo();-->
