body, h1, h2, h3, h4, h5, h6{
    font-family: "Stolzl-Regular";
}
#logo-holder{
    display: inline-block;
    margin-bottom:0px;
}
#logo{
    max-width:195px;
}
nav{
    margin:0 0 0 25px;
    text-align: center;
}
#links li{
    display: inline-block;
    margin: 15px 10px;
    font-size: 80%;
}
.uk-container{
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#registry{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-content:flex-start;
    margin:25px -10px;
}
.slot, #input, textarea, .uk-textarea, #program{
    font-family: monospace;

}
.slot{
    font-size: 38px;
    display:inline-block;
    background-color: #EFEFEF;
    width:90px;
    min-width:90px;
    padding:11px 0;
    text-align: center;
    border-radius: 5px;
/*                box-shadow: 1px 1px 3px #F9F9F9;*/
    display:inline-block;
    margin:10px 11.5px 12px 11.5px;
}
#status-bar{
    display:flex;
    align-content: center;
    justify-content: space-between;
    font-size: 88%;
}
#delay-slider-holder{
    display:inline-block;
    width:140px;
    position:relative;
    vertical-align: middle;
    padding: 0 0 3px 0;
    margin:0 10px;
}
#delay-slider{
    position: absolute;
    width:100%;
}
#control-bar{
    margin:25px -10px;
    display:flex;
    justify-content: space-between;
}
button{
    min-width:120px;
}
#input-and-button-holder{
    min-width:350px;
}
#input-and-button{
    background-color:#81D6CF;
    padding: 0px 0px 0px 10px;
    border-radius: 5px;
    display:block;
}
#control-bar button{
    margin-left: 10px;
    margin-right:10px;
}
#control-bar button, #input{
    margin-top:8px;
    margin-bottom:8px;
}
#input{
    display:inline-block;
    width:200px;
}
button, #input{
    height:50px;
}
button, #input, .uk-textarea, #output{
    border-radius: 5px;
}
textarea, .uk-textarea{
    padding:11px 20px;
}
#edit{
    height:130px;
}
#submit{
    margin-left:0;
}
#output{
    background-color: #EFEFEF;
    padding:21px 28px 21px 28px;
    font-family: monospace;
    font-weight: 500;
    font-size: 125%;
}
#output-section{
    margin:25px 0;
}
a{
    color:#81D6CF;
}
#explanation-section p{
    max-width:500px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 84%;
    line-height: 26px;
}
#footer{
    font-size: 85%;
    text-align: center;
}
#footer a{
    margin:0 10px;
}
#program{
    margin:33px 0 0 0;
    padding:0px 0px;
    text-align: left;
}            
#program li{
    display:inline-block;
    font-size: 1em;
    width:40px;
    text-align: center;
    font-size: 83%;
    line-height: 16px;
}
.marker-holder{
    height:20px;
    display:block;
    padding:6px
}
.marker{
    width:6px;
    height:6px;
    background-color:#81D6CF;
    text-align: center;
    margin: 0px auto;
    border-radius: 3px;
}
#display-status{
    color:#81D6CF;
}
.pointer-holder{
    display:flex;
    justify-content: space-between;
}
.pointer{
    height:5px;
    display:inline-block;
    border-radius: 0px;
    margin:0;
    padding:0;
}
.pointer-left{
    width:9%;
}
.pointer-center{
    width:82%;
}
.pointer-right{
    width:9%;
}
.pointer-fill{
    background-color:#81D6CF;
    height:100%;
    width:100%;
}
.uk-button-default{
    background-color:white;
}
.uk-button-default:hover{
    background-color:white;
}
#delay-ms{
    min-width:30px;
    display:inline-block;
    text-align: right;
}
#insert{
    padding:0;
    font-size: 75%;
    text-align: center;
}
#insert span{
    margin: 0 10px;
}
.built-in{
    display:inline-block;
    margin:0 10px;
    color: #81D6CF;
}
#commands{
    padding:0;
    text-align: center;
}
.command{
    display:inline-block;
    font-size: 105%;
    margin: 0 10px;
}
.command-name{
    font-size:65%;
    color:#999999;
}
.em{
    color:#81D6CF;
}